h1 {
  font-family: Impact, Verdana;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

body {
  background: linear-gradient(to left, silver, white); 
}

tr {
  border-bottom: 0.13rem groove #D5CEC8;
}

main header {
  background-color: #e6e6e6;
  border: 0.1rem inset #BBB6C3;
}

footer {
  background-color: #e6e6e6;
}
footer a {
  color: white;
  text-shadow: 0.05rem 0.05rem 0.05rem black;
}
footer a:hover {
   color: blue;
}


/*
footer {
  position: fixed; 
  bottom: 1rem; 
  right: 1rem; 
}
*/